phonegap-icon-splash-generator.sh
pdfs
nohup.out
*.iml
*.deploy
.idea/
.ipr
.iws
*~
~*
*.diff
*.log
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
out/
node_modules/
platforms/
tmp/
reports/
